* { /* css reset */
	padding: 0px;
	margin: 0px;
}

h1,h2,h3 {
	font-family: sans-serif;
	padding: 10px 0 10px 0;
}

html,body {
	font-family: serif;
	height: 100%;
}

#title {
	padding-left: 1em;
	font-family: sans-serif;
}

#header {
	color: #fff;
	background-color: #000;
	width: 100%;
	height: 2.5em;
}

#left {
     padding: 3px;
    float:left;
}


#right {
    text-align: right;
    padding: 10px;
}
        
#header a {
	text-decoration: none;
	color: #faf;
}

.content {
	padding-bottom: 1em;
	line-height: 1.5em;
	text-align: right;
}

#page {
	padding-bottom: 2em;
	min-height:100%;
	position: relative;
}

#footer {
	width: 100%;
	margin-top: -2em;
	position: absolute;
	bottom: 0;
	/* footer is 2em high, 1 for text +.5+.5 of padding */
	text-align: center;
	border-top: 1pt solid;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #73000A;
	color: white;
}