{% extends "base.html" %}
{% block header %}
{% if editor %}
<script type="text/javascript" src="/js/pinscript.js"></script>
{% endif %}
{% endblock %}
{% block body %}
	<div class="displaybox">
	<img style="max-width:750px;" alt="{{ pin.caption }}" src="{{ pin.imgUrl }}"/>
	<br>
	{% if editor %}
	   <span class="editable" id="caption">{{ pin.caption }}</span><br>
       Private: <input id="private" type="checkbox" {% if pin.private %}checked{% endif %}>
       <input type="hidden" id="pinID" value="{{ pin.id() }}">
	{% else %}
        <p>{{ pin.caption }}</p>
    {% endif %}
	<p>Pinned on {{ pin.date.date() }}</p>
	{% if editor %}
	<form method="post" action="/pin/{{ pin.id() }}">
        <input type="hidden" name="cmd" value="delete"/>
        <input type="submit" value="Delete this Pin" />
    </form>
    {% endif %}
</div>
{% if boards and editor %}
<br>
<div class="displaybox">
    {% for board in boards %}
        <p>In <a href="/board/{{ board.id() }}">{{ board.title }}</a> board.</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}